@import './base.css';

#app {
    max-width: 1280px;
    margin: auto auto;
    /*padding: 2rem;*/
    padding: 5px;
    font-weight: normal;
}

@media (min-width: 650px) {
    #app {
        width: 640px;
        margin: auto auto;
        padding: 2rem;
        font-weight: normal;
    }
}

a,
.green {
    text-decoration: none;
    /*color: hsla(160, 100%, 37%, 1);*/
    color: #6494AA;
    transition: 0.4s;
    /*padding: 3px;*/
}

@media (hover: hover) {
    a:hover {
        background-color: hsla(160, 100%, 37%, 0.2);
    }
}


/*@media (min-width: 1024px) {*/
/*  body {*/
/*    display: flex;*/
/*    place-items: center;*/
/*  }*/

/*  #app {*/
/*    display: grid;*/
/*    grid-template-columns: 1fr 1fr;*/
/*    padding: 0 2rem;*/
/*  }*/
/*}*/


/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: var(--pf-c-dark-gray);
    color: #fff;
    text-align: center;
    border-radius: 10px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
}

#snackbar.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}


.pf-tabs {
    display: grid;
    grid-template-columns: 120px 120px;
    grid-gap: 10px;
    width: 100%;
}

.pf-tab {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
}

.pf-tab-selected {
    background-color: var(--color-negative-background);
    color: var(--color-negative-text)
}

.pf-tab-inactive {
    background-color: var(--color-background);
    color: var(--color-text)
}